*{
    scrollbar-width: thin;
}
.customize-ul{
    padding-left: 1rem;
}
.mil-frame{
    padding: 50px 60px 60px 60px;
    /* position: fixed; */
    pointer-events: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
          flex-direction: column;
    -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
    width: 100%;
    height: 100%;
}

.mil-frame .mil-frame-bottom {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .mil-frame .mil-frame-bottom .mil-current-page {
    pointer-events: none;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    width: 300px;
    color: rgb(0, 0, 0);
    -webkit-transform: rotate(-90deg) translateX(138px) translateY(-138px);
            transform: rotate(-90deg) translateX(138px) translateY(-138px);
  }
  .mil-frame .mil-frame-bottom .mil-back-to-top {
    width: 300px;
    -webkit-transform: rotate(-90deg) translateX(130px) translateY(130px);
            transform: rotate(-90deg) translateX(130px) translateY(130px);
    pointer-events: all;
  }

.mil-frame .mil-frame-bottom .mil-back-to-top a {
    text-decoration: none;
}
.mil-link {
    cursor: pointer;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
}

.mil-dark {
    color: rgb(0, 0, 0);
}

  .mil-frame-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mil-frame-top .mil-logo {
    pointer-events: all;
    color: rgb(0, 0, 0);
  }

  .mil-link:hover svg {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}
.mil-link.mil-dark svg {
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
    transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
}

.mil-link svg {
    margin-left: 15px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
    transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
}

#productImage {
    opacity: 0;
    transform: scale(0);
    transition: opacity 3s ease-out, transform 2s ease-out;
}

#productImage.visible {
    opacity: 1;
    transform: scale(1);
}

@keyframes growFromBottom {
    from {
        transform: scaleY(0);
        transform-origin: bottom;
        opacity: 0;
    }
    to {
        transform: scaleY(1);
        transform-origin: bottom;
        opacity: 1;
    }
}

@keyframes growFromTop {
    from {
        transform: scaleY(0);
        transform-origin: top;
        opacity: 0;
    }
    to {
        transform: scaleY(1);
        transform-origin: top;
        opacity: 1;
    }
}

/* .grow-from-bottom {
    transform-origin: bottom;
}

.grow-from-top {
    transform-origin: top;
} */

#cardButton.grow-from-bottom {
    animation: growFromBottom 5s forwards;
}

#orderButton.grow-from-top {
    animation: growFromTop 5s forwards;
}

@keyframes slideFromRight {
    from {
        transform: translateX(10%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

#subProductName.slide-from-right{
    animation: slideFromRight 3s forwards; 
}

@keyframes slideFromBottom {
    from{
        transform: translateY(20%);
        opacity: 0;
    }
    to{
        transform: translate(0);
        opacity: 1;
    }
}

#subDescription1.slide-from-bottom{
    animation: slideFromBottom 3s forwards; 
}

#subDescription2.slide-from-bottom{
    animation: slideFromBottom 3s forwards; 
}

#description.slide-from-bottom{
    animation: slideFromBottom 3s forwards;
}

@keyframes slideCardFromBottom {
    from{
        transform: translateY(100%);
        opacity: 0;
    }
    to{
        transform: translate(0);
        opacity: 1;
    }
}

#card.slide-card-from-bottom{
    animation: slideCardFromBottom 3s forwards;
}

#videoDescription.slide-card-from-bottom{
    animation: slideCardFromBottom 2s forwards;
}

@keyframes slideFromTop {
    from{
        transform: translateY(20%);
        opacity: 0;
    }
    to{
        transform: translate(0);
        opacity: 1;
    }
}

#subtitleProduct.slide-from-top{
    animation: slideFromTop 4s forwards; 
}

@keyframes disapparearToApparear {
    from{
        transform: scale(0) translateX(50%);
        opacity: 0;
    }to {
        transform: scale(1) translateX(0);
        opacity: 1;
    }
}

#priceCard.disappear-to-apparear{
    animation : disapparearToApparear 4s forwards;
}

@keyframes slideFromLeft {
    from {
        transform: scale(0) translateX(-50%);
        opacity: 0;
    }
    to {
        transform: scale(1) translateX(0);
        opacity: 1;
    }
}

#orderDetails.slide-from-left{
    animation: slideFromLeft 3s forwards; 
}

#soldBy.slide-from-left{
    animation: slideFromLeft 3s forwards;
}

.hidden {
    opacity: 0;
}

.visible {
    opacity: 1;
    transition: opacity 0.5s;
}

@keyframes slideSubFromLeft {
    from{
        transform: translateX(-3%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
#subTitleCategory.slide-sub-from-left{
    animation: slideSubFromLeft 3s forwards;
}

@keyframes showCaseImageSlide {
    from{
        transform: translateX(-5%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

#showcaseImage.slide-image-from-left{
    animation: showCaseImageSlide 5s forwards;
}

#nameShowcaseImage.slide-name-product{
    animation: showCaseImageSlide 5s forwards;
}

#nameShowcaseImage1.slide-name-product1{
    animation: showCaseImageSlide 5s forwards;
}

#showcasediv.slide-div-from-left{
    animation: showCaseImageSlide 1s forwards;
}

.category-card{
    opacity: 0;
    transform: translateY(100%);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.category-product{
    opacity: 0;
    transform: translateY(100%);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}