{% extends "base.html" %}

{% block title %}BuyMore{% endblock %}

{% block content %}
  <div class="">
    <div id="carousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://placehold.co/3200x1000" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://placehold.co/3200x1000" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://placehold.co/3200x1000" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
  </div>
  <div class="container mb-3">
    <div class="mt-2">
      <h2>Categories</h2>
    </div>
    <div class="row">
      {% for category in categories %}
        <div class="col-lg-2">
          <a href="#" style="text-decoration: none;">
            <div class="rounded-2 bg-dark d-flex flex-row me-2 align-items-center justify-content-center" style="min-height: 100px; min-width: 188px;">
              <h3 class="text-light text-center">{{category.name}}</h3>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="container">
    <div class="mt-2">
      <h2>Products</h2>
    </div>
    <div class="row">
      {% for product in products %}
        <div class="col-lg-2">
          <a href="">
            <div class="card">
              <img src="https://placehold.co/600x900" class="card-img" alt="image-2"> <!-- static/images/{{ product.image }} -->
              <div class="card-img-overlay">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">${{ product.price }}</p>
              </div>
            </div>
            <div class="d-flex align-items-end justify-content-between p-1" style="position: relative; top: -65px;">
              <button class="rounded-circle border-0 p-3" title="Add To Card">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart4" viewBox="0 0 16 16">
                  <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l.5 2H5V5zM6 5v2h2V5zm3 0v2h2V5zm3 0v2h1.36l.5-2zm1.11 3H12v2h.61zM11 8H9v2h2zM8 8H6v2h2zM5 8H3.89l.5 2H5zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0"/>
                </svg>
              </button>
              <Button class="rounded-circle border-0 p-3" title="See Product">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0z"/>
                </svg>
              </Button>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="mil-frame">
      <!-- <div class="mil-frame-top">
        <a href="index.php" class="mil-logo">A.</a>
        <div class="mil-menu-btn">
            <span></span>
        </div>
      </div> -->
    <div class="mil-frame-bottom">
        <div class="mil-current-page"></div>
        <div class="mil-back-to-top">
            <a href="#top" class="mil-link mil-dark mil-arrow-place">
                <span>Back to top</span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="mil-arrow">
                  <path d="M 14 5.3417969 C 13.744125 5.3417969 13.487969 5.4412187 13.292969 5.6367188 L 13.207031 5.7226562 C 12.816031 6.1136563 12.816031 6.7467188 13.207031 7.1367188 L 17.070312 11 L 4 11 C 3.448 11 3 11.448 3 12 C 3 12.552 3.448 13 4 13 L 17.070312 13 L 13.207031 16.863281 C 12.816031 17.254281 12.816031 17.887344 13.207031 18.277344 L 13.292969 18.363281 C 13.683969 18.754281 14.317031 18.754281 14.707031 18.363281 L 20.363281 12.707031 C 20.754281 12.316031 20.754281 11.682969 20.363281 11.292969 L 14.707031 5.6367188 C 14.511531 5.4412187 14.255875 5.3417969 14 5.3417969 z"></path>
                </svg>
            </a>
        </div>
    </div>
  </div>
  
{% endblock %}
