{% extends "base.html" %}

{% block title %}BuyMore{% endblock %}

{% block content%}
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="h6">
                    <span>All-in-one VR Gaming Headset-64GB</span>
                </div>
                <div class="">
                    <img src="https://placehold.co/500x350" alt="" class="rounded-2" id="productImage">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="h2">
                    <span>{{product.name}}</span>
                </div>
                <p>All-in-one VR Gaming Headset-64GB</p>
                <div class="description">
                    {{product.description }}
                </div>
            </div>
            <div class="col-lg-3">
                <div class="h5">
                    <span>Order Details</span> 
                    <p>Sold By Brandy and fulfilled br amazon</p>
                </div>
                <div class="rounded-4 bg-secondary p-4">
                    <div class="h5">
                        $<span>{{product.price}}</span>
                    </div>
                    <div>
                        <span>Quantity : </span>
                    </div>
                    <div class="btn-group-vertical">
                        <button type="button" class="btn btn-success" id="cardButton">Add to card</button>
                        <button type="button" class="btn btn-success" id="orderButton">1-Click order</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-lg-5">
                <div class="">
                    <img src="https://placehold.co/500x350" alt="" class="rounded-2">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">John Doe</h5>
                                <p class="card-text">Most convenient autonomous VR headset ever. Put on our head and 3 seconds later you are in another dimension.</p>
                                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                        <div class="col-md-4">
                          <img src="https://placehold.co/400x600" class="img-fluid rounded-start" alt="...">
                        </div>
                    </div>
                </div>
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">John Doe</h5>
                                <p class="card-text">Most convenient autonomous VR headset ever. Put on our head and 3 seconds later you are in another dimension.</p>
                                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                        <div class="col-md-4">
                          <img src="https://placehold.co/400x600" class="img-fluid rounded-start" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">

            </div>
        </div>
    </div>
{% endblock %}