{% extends 'base.html' %}

{% block title %}BuyMore{% endblock %}

{% block content %}
   <div class="container-fluid">
       <div class="">
            <h2 class="m-0">Shopping Bag</h2>
            <p class="f-5">
               <span class="fw-bolder"> 8 items</span> in your bag
            </p>
       </div>
       <div class="row">
        <div class="col-8">
          {% for item in cart_items %}
            <div class="card mb-3">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="../../../static/images/{{ item.product.image.url }}" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <div>
                        <h5 class="card-title">{{ item.product.name }}</h5>
                        <p class="card-text">{{ item.product.description }}</p>
                      </div>
                      <div class="row">
                        <div class="col-6">
                            <button class="btn btn-danger">Supprimer</button>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-primary">Ajouter</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          {% endfor %}
        </div>
        <div class="col-4">
          {{ cart_items }} 
        </div>
       </div>

   </div>
{% endblock %}

{% block footer %}
{% endblock %}